{% extends "account/base.html" %}

{% load bootstrap5 %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="card bg-dark mt-3">
        <div class="card-body">
            <form class="login form-signin" method="POST" action="{% url 'account_login' %}">
                <h5 class="card-title">{% trans "Sign In" %}</h5>

                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                    <p class="card-text">{% blocktrans with site.name as site_name %}Please sign in with one
                        of your existing accounts or <a href="{{ signup_url }}">sign up</a>
                        for an account.{% endblocktrans %}</p>

                    <div class="socialaccount_ballot">
                        <ul class="socialaccount_providers">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </ul>
                    </div>
                    {% include "socialaccount/snippets/login_extra.html" %}
                {% else %}
                    <p class="card-text">{% blocktrans %}If you have not created an account yet, then please
                        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}
                <hr/>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <a style="display: block; margin: 1rem 0" class="btn btn-secondary btn-sm"
                   href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
                <p class="mt-5 mb-3 text-muted">&copy; Pharmath 2021</p>
            </form>
        </div>
    </div>
{% endblock %}