{% extends "account/base.html" %}
{% load bootstrap5 %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    {% if token_fail %}
        <div class="card bg-dark mt-3">
            <div class="card-body">
                <h5>Invalid Reset Link</h5>
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p class="card-text">The password reset link was invalid, possibly because it has already been used.
                        Please request a <a
                                class="text-primary hover:underline"
                                href="{{ passwd_reset_url }}">new password reset</a>.</p>
            </div>
        </div>
    {% else %}
    <div class="card bg-dark mt-3">
        <div class="card-body">
        <h5>Change Password</h5>
                    <form method="post" action="{{ action_url }}" class="form-signin">
                        {% csrf_token %}
                        {% if form %}
                            {% bootstrap_form form %}
                        {% else %}
                            <p class="card-text">{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Change Password" %}</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
