{% extends "account/base.html" %}
{% load bootstrap5 %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="card bg-dark mt-3">
        <div class="card-body">
        <h5>Password Reset Sent</h5>
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-lg">
                    {% if user.is_authenticated %}
                        <p class="card-text">
                            {% include "account/snippets/already_logged_in.html" %}
                        </p>
                    {% endif %}
                    <p>We sent you a password reset e-mail!</p>
                    <p>
                        If you don't receive an e-mail, please make sure you've entered the address you were registered
                        with,
                        and check your spam folder.
                    </p>
            </div>
        </div>
    </div>
{% endblock %}
