{% extends "account/base.html" %}
{% load bootstrap5 %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="card bg-dark mt-3">
        <div class="card-body">
            <h5>Change Password</h5>
            <form method="POST" action="{% url 'account_change_password' %}" class="form-signin password_change">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>

{% endblock %}