{% extends "account/base.html" %}
{% block head_title %}Profile{% endblock %}
{% block content %}
    <div class="card bg-dark">
        <div class="card-header">
            <h3 class="card-title">Profile</h3>
        </div>
        <div class="card-body">
            <img class="my-2" style="border-radius: 1000px; height: 4rem; width: 4rem;"
                 src="{{ request.user.display_photo }}" alt="Profile Photo of {{ request.user.display_name }}"/>
            <p>Name: {{ request.user.display_name }}</p>
            {% if request.user.display_email %}
                <p>Email: {{ request.user.display_email }}</p>
            {% else %}
                <p>No known email.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}