{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}
    {% if object %}
        <form action="{% url "item_update" wishlist_pk=request.resolver_match.kwargs.wishlist_pk pk=object.pk %}" method="post">
    {% else %}
<form action="{% url "item_create" wishlist_pk=request.resolver_match.kwargs.wishlist_pk %}" method="post">
{% endif %}
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
</form>
{% endblock %}