{% extends "base.html" %}
{% load gift_extras %}
{% block head_title %}{{ wishlist.group.name }} | Wishlists{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <nav class="mt-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% if group_pk %}
                        <li class="breadcrumb-item"><a href="{% url "group_list" %}">Groups</a></li>
                        <li class="breadcrumb-item"><a href="{% url "group_detail" pk=group_pk %}">{{ group_name }}</a>
                        </li>
                    {% endif %}
                    <li class="breadcrumb-item active" aria-current="page">{{ wishlist.title }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card bg-secondary wishlist-page-card mt-3">
                <div class="card-header wishlist-page-header">
                    <h2>{{ wishlist.title }}</h2>
                    <div class="btn-group">
                        {% if request.user == wishlist.owner %}
                            {% if group_pk %}
                                <a href="{% url "wishlist_delete_with_group" group_pk=group_pk pk=wishlist.pk %}"
                                   class="btn btn-outline-danger">Delete</a>
                            {% else %}
                                <a href="{% url "wishlist_delete" pk=wishlist.pk %}" class="btn btn-outline-danger">Delete</a>
                            {% endif %}
                            <a href="{% url 'item_create' wishlist_pk=wishlist.pk %}" class="btn btn-success">Add Item
                                &nbsp;<i class="bi bi-plus-square-fill"></i></a>
                        {% else %}
                            <a href="{% url 'item_create' wishlist_pk=wishlist.pk %}" class="btn btn-outline-success">Add
                                Item &nbsp;<i class="bi bi-plus-square-fill"></i></a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    {% for wli in wishlist.item_set.all %}{% if wishlist.owner != request.user or wli.owner == request.user %}{# Show if this isn't my list, or, if it is my list, then only show items I added. #}
                        <div class="row mb-2">
                            <div class="col">
                                <div class="card bg-dark">
                                    <div class="card-header wishlist-item-header">
                                        {{ wli.title }}
                                        {% if request.user == wishlist.owner %}
                                            <a href="{% url "item_update" wishlist_pk=wishlist.pk pk=wli.id %}"
                                               class="btn btn-sm btn-primary">Edit</a>
                                        {% else %}
                                            {% if my_claims|has_intersection:wli.claim_set.all %}
                                                {% for claim in my_claims %}
                                                    {% if claim.item == wli %}
                                                        <div class="btn btn-group px-0">
                                                            <a href="{% url "claim_update" wishlist_pk=wishlist.id item_pk=wli.id pk=claim.id %}"
                                                               class="btn btn-primary position-relative">
                                                                Update Claim
                                                            </a>
                                                            <a href="{% if group_pk %}{% url "claim_list_with_group" group_pk=group_pk item_pk=wli.pk wishlist_pk=wishlist.pk %}{% else %}{% url "claim_list" item_pk=wli.pk wishlist_pk=wishlist.pk %}{% endif %}" class="btn position-relative {% if wli.claim_set.count > 1 %}btn-warning{% else %}btn-secondary{% endif %}">
                                                                {{ wli.claim_set.count }}
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <div class="btn btn-group px-0">
                                                    <a href="{% url "claim_create" wishlist_pk=wishlist.id item_pk=wli.id %}"
                                                       class="btn btn-primary position-relative">
                                                        Claim&nbsp;&nbsp;<i class="bi bi-person-raised-hand"></i>
                                                    </a>
                                                    <a href="{% if group_pk %}{% url "claim_list_with_group" group_pk=group_pk item_pk=wli.pk wishlist_pk=wishlist.pk %}{% else %}{% url "claim_list" item_pk=wli.pk wishlist_pk=wishlist.pk %}{% endif %}" class="btn position-relative {% if wli.claim_set.count > 0 %}btn-warning{% else %}btn-secondary{% endif %}">
                                                        {{ wli.claim_set.count }}
                                                    </a>
                                                </div>
                                            {% endif %}

                                        {% endif %}
                                    </div>
                                    <div class="card-body">
                                        <span style="white-space: pre-line">{{ wli.description }}</span>
                                        {% if wli.links %}
                                            <hr/>
                                            Links:
                                            <ul>
                                                {% for link in wli.links %}
                                                    <li><a href="{{ link }}" target="_blank"
                                                           rel="noopener noreferer">{{ link }}</a></li>{% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}{% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% if request.user == wishlist.owner %}
    <div class="row">
        <div class="col">
            <div class="card bg-secondary wishlist-page-card mt-3">
                <div class="card-header wishlist-page-header">
                    <h3>Appears in</h3>
                </div>
                <div class="card-body wishlist-page-header">
                    {% if wishlist.groups.count %}
                        <ul>
                            {% for group in wishlist.groups.all %}
                                <li>
                                    <form action="{% url "remove_wishlist_from_group" pk=wishlist.pk %}"
                                          method="post">
                                        <input type="hidden" name="group_pk" value="{{ group.pk }}">
                                        <input type="hidden" name="action" value="remove_wishlist_from_group">
                                        {% csrf_token %}
                                        <a href="{% url "group_detail" pk=group.pk %}">{{ group.name }}</a>
                                        <button type="submit" class="btn btn-outline-danger btn-sm">Remove</button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>This wishlist does not appear in any groups! Add it to a group to share it with others.</p>
                    {% endif %}
                </div>
                <div class="card-footer wishlist-page-header">
                    {% if request.user == wishlist.owner %}
                        <form action="{% url "add_wishlist_to_group" pk=wishlist.pk %}" method="post">
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="hidden" name="action" value="add_wishlist_to_group">
                            {% csrf_token %}
                            <div class="input-group">
                                <label class="input-group-text" for="group">Add to Group</label>
                                <select class="form-select" name="group_pk">
                                    <option selected>Choose...</option>
                                    {% for group in user.groups.all %}
                                        {% if group not in wishlist.groups.all %}
                                            <option value="{{ group.pk }}">{{ group.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-success">Add</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}