{% extends "base.html" %}
{% block head_title %}Groups{% endblock %}
{% block content %}
    <h2 class="mt-3">My Wishlists</h2>
    {% for wishlist in object_list %}
        <div class="card bg-dark mb-2">
            <div class="card-body">
                <a href="{% url "wishlist_detail" pk=wishlist.id %}">{{ wishlist.title }}</a> -
                {% if wishlist.groups.count == 0 %}
                    <small>Not shared</small>
                {% endif %}
                {% if wishlist.groups.count == 1 %}
                    <small>Shared in {{  wishlist.groups.first.name }}</small>
                {% endif %}
                {% if wishlist.groups.count > 1 %}
                    <small>Shared in {{  wishlist.groups.count }} groups</small>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}